{% extends "base.html" %}
{% block content %}
    <h1>NightBox — быстрая доставка еды</h1>
    <p>Собираем и привозим заказы из даркстора прямо к вашей двери.</p>

    <h2>Популярные позиции</h2>
    <div class="cards">
        {% for product in products %}
            <div class="card">
                {% if "Пицца" in product.name %}
                    <img class="card-img" src="{{ url_for('static', filename='img/pizza-margherita.jpg') }}" alt="Пицца Маргарита">
                {% elif "Бургер" in product.name %}
                    <img class="card-img" src="{{ url_for('static', filename='img/burger.jpg') }}" alt="Бургер">
                {% elif "роллов" in product.name %}
                    <img class="card-img" src="{{ url_for('static', filename='img/rolls.jpg') }}" alt="Роллы">
                {% elif "Лимонад" in product.name %}
                    <img class="card-img" src="{{ url_for('static', filename='img/lemonade.jpg') }}" alt="Лимонад">
                {% endif %}

                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p class="price">{{ "%.2f"|format(product.price) }} ₽</p>
            </div>
        {% endfor %}
        {% if not products %}
            <p>Пока нет товаров.</p>
        {% endif %}
    </div>
{% endblock %}


